{% extends 'base.html' %}

{% block content %}
    <h1>{{app_name}}</h1>

    <h3>Name:</h3>
    <p>{{name}}</p>

    <h3>Class:</h3>
    <p>{{class}}</p>
    <hr>
    <p>Kamu menyimpan <strong>{{ items | length }}</strong> penggalangan dana pada aplikasi ini</p>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Goal Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.goal_amount}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date_added}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_item' %}">
        <button>
            Buat Galang Dana
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}